<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Gerenciando Tarefas</title>
  <link rel="stylesheet" href="/static/css/estilo.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar">
            <button class="btn entrar">ENTRAR</button>
            <button class="btn cadastro">CADASTRO</button>
        </div>
    </header>
    
  <section class="caixa1">
    <div class="container">
        <div class="title">
            <h1>GERENCIANDO</h1>
        </div><br>
        <div class="subtitle">
            <h1>TAREFAS</h1>
        </div>
        <div class="options">
            <div class="option">
                <div class="img" id="check">
                    <img src="https://img.icons8.com/?size=100&id=Fh0fftoSsFbr&format=png&color=000000" alt="checklist">
                </div>
                <div class="card-fun">Monte sua check‑list</div>
            </div>
    
            <div class="option">
                <div class="img" id="monitore">
                    <img src="https://img.icons8.com/?size=100&id=11695&format=png&color=000000" alt="monitore">
                </div>
                <div class="card-fun">Monitore suas tarefas</div>
            </div>
    
            <div class="option">
                <div class="img" id="confira">
                    <img src="/static/img/agenda.png" alt="confira">
                </div>
                <div class="card-fun">Confira sua agenda</div>
            </div>
    
            <div class="option">
                <div class="img" id="pesquisa">
                    <img src="https://img.icons8.com/?size=100&id=79997&format=png&color=000000" alt="pesquisa">
                </div>
                <div class="card-fun">Pesquise atividades</div>
            </div>
        </div>
  </section>
  <section class="caixa2">
    <div class="coluna">
        <div class="option2">
            <div class="img" id="check">
                <img src="https://img.icons8.com/?size=100&id=Fh0fftoSsFbr&format=png&color=000000" alt="checklist">
            </div>
            <div class="card-fun">CHECK-LIST DO DIA</div>
        </div>
    
        <div class="option2">
            <div class="img" id="monitore">
                <img src="https://img.icons8.com/?size=100&id=11695&format=png&color=000000" alt="monitore">
            </div>
            <div class="card-fun">MONITORE TAREFAS</div>
        </div>
    </div>
    <div class="coluna"></div>
  </section>
  <script src="script.js"></script>
</body>
</html>