<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Document</title>
</head>
<body>
  <div class="form-container">
    <h1>Login</h1>
    <form action="{{ url_for('auth.logar_no_sistema') }}"  method="post">
      {{ formulario.hidden_tag() }}
      <div class="form-row">
        {{ formulario.username(size=32) }}

        {{ formulario.password(size=32) }}
      </div>
      
        {{ formulario.submit() }}

      <p id="cadastrar">Ainda não é usuário? <a href="{{ url_for('auth.cadastrar_usuario') }}">Cadastre-se aqui</a></p>
    </form>
  </div>
</body>
</html>