<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="{{ url_for('dashboard.index') }}">Dashboard</a></h1>
    <h2><a href="{{ url_for('user.random_tasks') }}">Gerar atividade automaticamente</a></h2>
    <h2><a href="{{ url_for('user.delete_all_tasks') }}">Apagar todas as tarefas</a></h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% set category, message = messages[-1] %}
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
    {% endwith %}
    <h5><a href="{{ url_for('auth.atualizar_email') }}">Atualizar email</a></h5>
    <h5><a href="{{ url_for('auth.confirmar_senha') }}">Atualizar senha</a></h5>
    <h1>Você está logado no sistema, seja bem vindo!</h1>
    <a href="{{ url_for('auth.deslogar_do_sistema') }}">Logout</a>
    <h3><a href="{{ url_for('user.criar_lista') }}">Criar lista</a></h3>
    <!-- Próximo passo será desenvolver as atividades, meu foco agora é: -->
        <!-- 
             1. Editar | V
             2. Excluir listas | V    
        -->
    <h3><a href="{{ url_for('user.criar_atividade') }}">criar atividade</a></h3> 
    <h3><a href="{{ url_for('user.criar_etiqueta') }}">Criar etiqueta</a></h3>
    
    
    
    <h4>Minhas listas</h4>
    <ul>
        {% for list in listas %}
        <li>{{ list.nome }} <a href="{{ url_for('user.editar_lista', id=list.id) }}">Editar</a> <a href="{{ url_for('user.excluir_lista', id=list.id) }}">Excluir</a></li>
        {% else %}
        <li>Nenhuma lista foi criada ainda</li>
        {% endfor %}
    </ul>

    <h4>Minhas etiquetas</h4>
    <ul>
        {% for etiqueta in etiquetas %}
        <li>{{ etiqueta.nome }} <a href="{{ url_for('user.atualizar_etiqueta', id=etiqueta.id) }}">Editar</a> <a href="{{ url_for('user.excluir_etiqueta', id=etiqueta.id) }}">Excluir</a></li>
        {% else %}
        <li>Nenhuma etiqueta foi criada ainda</li>
        {% endfor %}
    </ul>

    

    <div class="tasks_container" style="background-color: azure;">
        <h4> Minhas tarefas </h4>
        <form action="{{ url_for('user.ordenar_tarefa') }}" method="post">
            <label for="ordem"> Ordenar por:
                <!-- Na função a seguir, onchange detecta mudanças, "this" epecifica que é no select, "form" é chamando o formulário e 
                 "submit" é chamando a função de enviar o mesmo -->
                <select name="ordem" id="ordem_select" onchange="this.form.submit()">
                    <option {% if ordem =='prazo_curto' %}selected{% endif %} value="prazo_curto">Prazo curto</option>
                    <option {% if ordem=='prazo_longo' %}selected{% endif %} value="prazo_longo">Prazo longo</option>
                    <option {% if ordem=='recentes' %}selected{% endif %} value="recentes">Recentes</option>
                    <option {% if ordem=='antigas' %} selected{% endif %} value="antigas">Antigas</option>
                    <option {% if ordem=='prioridade' %} selected{% endif %} value="prioridade">Prioridade</option>
                    <option {% if ordem=='manual' %} selected{% endif %} value="manual">Manual</option>
                </select>
            </label>
        </form>
        <br>
        <form action="{{ url_for('user.filtrar_tarefas') }}" method="post">
            <h4>Filtrar por</h4>
            <label for="status"> Status
                <select name="status" id="status">
                    <option value="">Selecione uma opção</option>
                    <option {% if session.get('filtros', [{}])[0].get('status') == 'concluida' %}selected{% endif %} value="concluida">Concluida</option>
                    <option {% if session.get('filtros', [{}])[0].get('status') == 'em andamento' %}selected{% endif %} value="em andamento">Em andamento</option>
                    <option {% if session.get('filtros', [{}])[0].get('status') == 'pendente' %}selected{% endif %} value="pendente">Pendente</option>
                </select>
            </label>
            <br>
            <label for="lista"> Lista
                <select name="lista" id="lista">
                    <option value="">Selecione uma opção</option>
                    {% for lista in listas %}
                    {% if lista %}
                    <!-- Aqui, vai verificar se filtros está salvo em session, antes de pegar o que está armazenado em lista para deixar pré selecionado o filtro caso esteja sendo aplicado -->
                    <option {% if lista.id == (session.get('filtros', [{}])[0].get('lista') | int) %}selected{% endif %}  value="{{ lista.id }}">{{ lista.nome }}</option>
                    {% else %}
                    <option value="">Não existe listas disponíveis</option>
                    {% endif %}
                    {% endfor %}
                </select>
                
            </label>
            <!-- Pegando o valor dos ids presentes nos filtros, caso haja, e transformando-os em inteiros -->
            {% set filtros_etiquetas = session.get('filtros', [{}])[0].get('etiquetas', []) | map('int') | list %}
            {% for etiqueta in etiquetas %}
            <!-- Se o id de alguma etiqueta daqui estiver presente na lista de etiquetas para filtros, ele é selecionado -->
            <label for="etiqueta_filtro"><input {% if etiqueta.id in filtros_etiquetas %}checked{% endif %} type="checkbox" name="etiqueta_filtro" value="{{ etiqueta.id }}">{{ etiqueta.nome }}</label>
            {% endfor %}
            <input type="submit" value="Filtrar">
        </form>
        <br>
        <a href="{{ url_for('user.limpar_filtro') }}">Limpar filtro</a>
        <br>
        <br>
                <form action="{{ url_for('user.filtrar_tarefas_by_palavras_chave') }}" method="post">
                    <label for="barra_pesquisa">O que você procura?
                        {% if session.get('filtro_palavra_chave_modo')==True %}
                        <input value="{{ session.get('filtro_palavra_chave') }}" name="barra_pesquisa" type="text">
                        {% else %}
                        <input type="text" name="barra_pesquisa">
                        {% endif %}
                    </label>
                    <br>
                    <input type="submit" value="Pesquisar">
                </form>
                <a href="{{ url_for('user.apagar_filtro_de_palavras_chave') }}">Limpar barra de pesquisa</a>
            <br>
        <br>
        <ul {% if ordem=='manual' %} id="lista_de_tarefas" {% endif %}>

        {% for tarefa in tarefas %}

        <li data-id="{{ tarefa.id }}" >
            <div class="task" style="background-color: blue;">
                <h4>{{ tarefa.titulo }}</h4>
                <p> {{ tarefa.descricao }}</p>
                <p>{{ tarefa.status }}</p>
                <p>{{ tarefa.lista.nome }}</p>
                <p>{{ tarefa.prioridade }}</p>
                <h5>Data limite</h5>
                <p>{{ tarefa.data_limite }}</p>
                <h5>Data criação</h5>
                <p>{{ tarefa.criada_em }}</p>

                <a href="{{ url_for('user.editar_tarefa', id=tarefa.id) }}">Editar tarefa</a>

                {% if ordem == 'prazo_curto' or ordem == 'prazo_longo' %}
                <div class="prazo">
                    {% if tarefa.tempo_restante == 0 %}
                    Hoje
                    {% elif tarefa.tempo_restante < 0 %}
                    Atraso: {% if tarefa.tempo_restante == -1 %}
                            {{ tarefa.tempo_restante*-1 }} dia
                            {% else %}
                            {{ tarefa.tempo_restante*-1 }} dias
                            {% endif %}
                    {% else %}
                    Restam: {{ tarefa.tempo_restante }} dias
                    {% endif %}
                </div>
                {% endif %}

                {% if ordem == 'manual' %}
                    <div class="ordem">
                        {{ tarefa.ordem + 1}}
                    </div>
                {% endif %}
            </div>
            <div class="tarefa_etiqueta">
                <ul>
                {% for etiqueta in tarefa.etiquetas %}
                    <li>{{ etiqueta.nome }}</li>
                {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>


    </div>
    

<!-- 
  {% for tarefa in tarefas %}
        <li>
            <div>
                <h4>{{tarefa.titulo}}</h4>
                <p>{{tarefa.descricao}}</p>
                <h4>Data limite:</h4>
                <p>{{tarefa.data_limite}}</p>
                <h4>Prioridade:</h4>
                <p>{{tarefa.prioridade}}</p>
                <h4>Status</h4>
                <p>{{ tarefa.status }}</p>
                <h4>lista:</h4>
                <p>{{ tarefa.lista.nome }}</p>
                <br>
                <a href="{{ url_for('user.editar_tarefa', id = tarefa.id) }}">Editar</a>
                <a href="{{ url_for('user.excluir_tarefa', id = tarefa.id) }}">Excluir</a>
                <br>
                <br>
                <a href="{{ url_for('user.concluir_tarefa', id = tarefa.id) }}">Concluir</a> 
                {% if tarefa.status != 'concluida' %}
                <a href="{{ url_for('user.iniciar_tarefa', id = tarefa.id) }}">Iniciar</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}  
-->
</body>

<!-- Essa função é para capturar as mudanças na ordem da lista e mandar para a rota presente no servidor -->

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
<script>
    const lista = document.getElementById('lista_de_tarefas');
    if (lista) {
        new Sortable(lista, {
            animation: 150,
            onEnd: function(evt) {
                let ordem = [];
                document.querySelectorAll('#lista_de_tarefas li').forEach((li, index) => {
                    ordem.push({ id: li.dataset.id, ordem: index });
                });

                fetch("{{ url_for('user.ordenar_manualmente') }}", {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ ordem: ordem })
                });
            }
        });
    }

</script>


</html>