<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('auth.checar_email') }}" method="post">
        {{ formulario.hidden_tag() }}
        {{ formulario.codigo.label }}
        {{ formulario.codigo(size=6) }}
        <br>
        {{ formulario.submit() }}
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% set category, message = messages[-1] %}
                    <li>{{ message }}</li>
                </ul>
            {% endif %}
        {% endwith %}
        <a href="{{ url_for('auth.checar_email') }}">Reenviar código</a>
        <p><a href="{{ url_for('auth.cadastrar_usuario') }}">Usar outro email</a></p>
    </form>
</body>
</html>